{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='datepicker/css/datepicker.css') }}" rel="stylesheet">
{% endblock %}
                  
{% block body %}
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#view_jobs" aria-controls="view_jobs" role="tab" data-toggle="tab">View Kitchen Duty Jobs</a></li>
    <li role="presentation"><a href="#add_jobs" aria-controls="add_jobs" role="tab" data-toggle="tab">Add Kitchen Duty Job</a></li>
    <li role="presentation"><a href="#del_jobs" aria-controls="del_jobs" role="tab" data-toggle="tab">Delete Kitchen Duty Job</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="view_jobs">
      <br>

      {% if jobs %}
      <ul>
      {% for job in jobs %}
        <li>{{ job.date }}</li>
        <ul>
          {% for worker in job.getWorkers() %}
          <li>{{ worker.name }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
      </ul>

      {% else %}
      <p>No jobs currently in the database</p>
      {% endif %}


    </div>
    <div role="tabpanel" class="tab-pane" id="add_jobs">
        <br>

        <form action="{{ url_for('addJob') }}" method="POST">
          <p style="display: inline; padding-right: 28px;">Date: </p>
          <input type="text" class="span2" value="{{ today }}" id="dp1" name="date">

          <br><br>

          <p>Workers: </p>
          <select name="workers" multiple>
            {% for worker in workers %}
            <option value="{{ worker.id }}">{{ worker.name }}</option>
            {% endfor %}
          </select>

          <br><br>
          <input type="submit">

        </form>

    </div>

    <div role="tabpanel" class="tab-pane" id="del_jobs">
      <br>

        {% if jobs %}
        <form action="{{ url_for('delJob') }}" method="POST">
          
          <select name="jobs" size=10 style=' width: 30%' multiple>
            {% for job in jobs %}
            <option value="{{ job.id }}">{{ job.date }}</option>
            {% endfor %}
          </select>
          <br><br>
          <input type="submit">

        </form>
        {% else %}
        <p>No jobs currently in the database</p>
        {% endif %}

    </div>

  </div>

</div>
{% endblock body %}

{% block js %}
<script src="{{ url_for('static', filename='datepicker/js/bootstrap-datepicker.js') }}"></script>
<script>
$(function(){
    $('#dp1').datepicker({
        format: 'mm-dd-yyyy'
    });
		
});
</script>

{% endblock js %}
