{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='datepicker/css/datepicker.css') }}" rel="stylesheet">
{% endblock %}
                  
{% block body %}
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#view_jobs" aria-controls="view_jobs" role="tab" data-toggle="tab">View Kitchen Duty Jobs</a></li>
    <li role="presentation"><a href="#add_jobs" aria-controls="add_jobs" role="tab" data-toggle="tab">Add Kitchen Duty Job</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="view_jobs">
      <br>
      <ul>
      {% for job in jobs %}
        <li>{{ job.date }}</li>
        <ul>
          {% for worker in job.getWorkers() %}
          <li>{{ worker.name }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="add_jobs">
        <br>

        <form>
          <p style="display: inline; padding-right: 28px;">Date: </p>
          <input type="text" class="span2" value="05-7-2015" id="dp1" >

          <br><br>

          <p style="display: inline; padding-right: 5px;">Workers: </p>
          <input type="text">

        </form>

    </div>
  </div>

</div>
{% endblock body %}

{% block js %}
<script src="{{ url_for('static', filename='datepicker/js/bootstrap-datepicker.js') }}"></script>
<script>
$(function(){
    $('#dp1').datepicker({
        format: 'mm-dd-yyyy'
    });
		
});
	</script>

{% endblock js %}
