{% extends "bare.html" %}

{% block head %}
<style>
#navUL
{
list-style-type:none;
margin:0;
padding:0;
}
#navLI
{
display:inline;
}
</style>
{% endblock head %}

{% block body %}
<h1>Room/Chore Selection Index</h1>

<ul id="navUL">
<li id="navLI"><a href="/startSelection">Start Selection</a></li> |
<li id="navLI"><a href="/stopSelection">Stop Selection</a></li> |
{% if user.is_superuser %}
<li id="navLI"><a href="/admin">Admin</a></li> |
{% endif %}
<li id="navLI"><a href="/logout">Log out</a></li>
</ul>
<hr><br>

{% if SELECTION_OPEN %}
<p style="color:red">Selection process is <span style="font-weight:bold">open</span>!</p>
<ol>
{% for person in liveIns %}
    {% if person.hasSelected %}
    <li><p>{{ person }}</p></li>
    {% else %}
    <li><p style="font-weight:bold">{{ person }}</p></li>
    {% endif %}
{% endfor %}
</ol>
{% else %}
<p style="color:red">Selection process is <span style="font-weight:bold">closed</span>!</p>
{% endif %}

{% endblock body %}