{% extends "bare.html" %}

{% block head %}
{% endblock %}

{% block body %}
<h1>SELECTION</h1>
<hr>
<ul>
<li>Room selections and Chore selections are final, so make sure that you've got it exactly right before submitting.</li>
<li>That being said, everybody below you is waiting for you to finish choosing, so please finish ASAP. It should not take long</li>
</ul>

<img src="http://i.imgur.com/1wTQ8QB.jpg">
<img src="http://i.imgur.com/59khn3w.jpg">

<!--<h4 style="text-decoration:underline">Available Rooms</h4>-->

<form class="form-horizontal" action="/select/" method="post"> {% csrf_token %}
<fieldset>

<!-- Form Name -->
<legend>Pick Room Mates</legend>

<!-- Select Multiple -->
<div class="control-group">
  <label class="control-label" for="selectmultiple">Select Multiple</label>
  <div class="controls">
    <select id="selectmultiple" name="roomMates" class="input-xlarge" multiple="multiple">
      {% for mate in roomMates %}
      <option value="{{ mate.pk}}">{{ mate }}</option>
      {% endfor %}
    </select>
    <input type="submit">
  </div>
</div>

</fieldset>
</form>

<br><br><br>
{% endblock body %}